div.login-card.card{
    width: 700;
    position: relative;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(59, 159, 212);
   
}

form.login{
    margin: 10;
    padding: 10;
    border-width: 15px;
}
button.btn.btn-primary{
margin-bottom: 50px;
}
a{
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 100px;
    display:flex;
    flex-direction: column;
}